---

import BaseLayout from '../layouts/BaseLayout.astro';
import UserCard from '../components/UserCard.tsx';

---

<BaseLayout title=''>
	<main>
		<UserCard client:only="preact" />
	</main>
</BaseLayout>

<script>
	if(localStorage.needScan) {
		localStorage.scan = window.location.search.substr(1);
		localStorage.scanTime = Date.now();
		delete localStorage.needScan;
		window.close();
		setTimeout(_ => window.close(), 1000);
	}
</script>

<style>
:root {
  background: #e8dea0;
}

main {
	position: absolute;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);

	width: 20em; max-width: 100vw;

	background: white;
	padding: 2em;
	border: 4px solid black;
	box-shadow: 4px 4px 0 0 black;
}
</style>
