table {
	padding: 0;
	margin: 0;
	border-collapse: collapse;
	width: 100%;
}
.total {
	text-align: right;
}
.qty {
	width: 3ch;
	font-variant-numeric: tabular-nums;
}
.qty:after {
	content: "x";
}

p {
	font-size: 1.5em;
}

.error {
	color: red;
}

.status {
	color: darkgreen;
}