#tags-list {
	margin: 0;
	padding: 2.5em;
}

#tags-list input {
	font-size: 1.2em;
	background: none;
}

#tags-list table {
	gap: 0;
	border-spacing: 0 14px;
	margin-top: 1em;
}

#tags-list tbody tr {
	outline: 2px solid black;
	box-shadow: 4px 4px 0 0 black;
}

#tags-list tbody tr {
	background: #fff;
}

#tags-list td {
	padding: 0.5em;
}

#tags-list th {
	text-align: left;
}

#tags-list tr {
	width: 100%;
}

#tags-list td:nth-of-type(2) {
	width: 30em;
	max-width: 70%;
}


#tags-list td:nth-of-type(3) {
	width: 5em;
	max-width: 15%;
}

#tags-list td:nth-of-type(4) {
	width: 5em;
	max-width: 15%;
}

#tags-list .top-up {
	border-left: 2px dashed black;
	padding: 0 1em;
}

#tags-list .top-up button {
	border: none;
	background: none;
	font: inherit;
	font-weight: 600;

	cursor: pointer;

	transition: 100ms transform;
}

#tags-list .top-up button:where(:hover, :active) {
	transform: scale(1.1);
}

#top-up-modal {
	position: fixed;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);

	padding: 2em;
	background: white;

	width: 25em;
	max-width: 80vw;

	border: 4px solid black;
	box-shadow: 4px 4px 0 0 black;
}

#top-up-modal * {
	display: inline-block;
	width: 100%;
}

#top-up-modal :where(h1, h2) {
	margin: 0;
}

#top-up-modal input {
	font-size: 2rem;
	border: none;
	border-bottom: 4px solid black;
}

#top-up-modal button {
	font-size: 2rem;
	margin-top: 1em;
}

#top-up-modal p {
	margin: 0;
}

#top-up-blackout {
	position: fixed;
	left: 0; top: 0; right: 0; bottom: 0;
	background: rgba(255,255,255,0.7);
}
